
body{
	background-color: white;

}


.hidden{
	display: none;
}


.height{
	height: 10000px;
	overflow: auto;
}

.first{
  position: fixed;
  top:  48vw;
  left: 22vw;
  width: 200px;
}

.second{
  position: fixed;
  top:  88vw;
  left: 14vw;
  width: 200px;
}

p{
	font-size: 16px;
}

.one{
  position: fixed;
  top: 23.5vw;
  left: -3.6vw;
  width: 70vw;

}

.two{
  position: fixed;
  top: 2vw;
  left: 19.7vw;
  width: 70vw;

}

.three{
  position: fixed;
  top: 23.5vw;
  left: 45.7vw;
  width: 70vw;

}

.four{
  position: fixed;
  top: 30.3vw;
  left: 19.7vw;
  width: 80vw;

}

.five{
  position: fixed;
  top: 4.1vw;
  left: -3.6vw;
  width: 60vw;

}

.six{
  position: fixed;
  top: 4.1vw;
  left: 45.7vw;
  width: 60vw;

}



.element {
    clip-path: url(#clipleft);
}

.topeye {
    clip-path: url(#cliptop);
}

.righteye {
    clip-path: url(#clipright);
}

.bottomeye {
    clip-path: url(#clipbottom);
}

.test{
	-webkit-clip-path: polygon(298px 360px,690px 86px,43px 85px);

}

.rightbottom{
	-webkit-clip-path: polygon(450px 359px,705px 85px,60px 86px);
}

.lefttop{
	-webkit-clip-path: polygon(687px 334px,298px 62px,45px 333px);
}

.righttop{
	-webkit-clip-path: polygon(703px 334px,450px 61px,59px 334px);
}

div.in{
	position: absolute;
	top: 100px;
	height: 10px;
  border-style: solid;
  border-color: blue;
	
}

div.out{
  position: absolute;
  top: 500px;
  border-style: solid;
  border-color: blue;
  
}


/*#anime:hover + div{
    display: block;
}

#leo:hover + div{
    display: block;
}*/
